*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Colors*/
:root{
    --text-color: white;
    --primary-dark--color: #064975;
    --primary-color: #217DA5;
    --primary-light-color: #93C0D1;
}

/*general settings*/
body *{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

body{
    background: var(--primary-dark--color);
}

/*head*/
#head{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    height: 76px 
}


#head img{
    width: 166.5px;
    height: 40.602px;
}

/*container*/
#container{
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

/*Intro*/
#intro{
    display: flex;
    flex-direction: row;
    padding: 30px;
    height: 218px;
    border-bottom: 1px solid var(--primary-color);
}

#intro-text{
    flex: 1;
    font-size: 18.487px;
}

#intro p{
    font-size: 101.343px;
    font-weight: 400px;
}

#intro p strong{
    font-weight: 700px;
}

#intro-img{
    flex: 1;
    position: relative;
}

#intro-img img{
    position: absolute;
    right: 0;
    height: 157px;
    width: 157px;
}

/*films*/

#films p{
    padding-top: 2%;
    text-align: center;
}

#films p strong{
    font-size: 52.727px;
    font-weight: 700px;
}

#films ul{
    list-style: none;
    display: flex;
    width: max-content;
    margin: auto;
    gap: 60px;
    padding: 30px;
}

#films ul li{
    width: 203px;
    height: 290px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#films ul li img{
    width: 38px;
    height: 38px;
}