*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*var*/
:root{
    --text-color: white;
    --primary-dark--color: #064975;
    --primary-color: #217DA5;
    --primary-light-color: #93C0D1;
    --add-img: url(assets/add-img.png);
    --add-img-hover: url(assets/add-img-hover.png);
    --static1: url(assets/static1.png);
    --static2: url(assets/static2.png);
    --static3: url(assets/static3.png);
    --static4: url(assets/static4.png);
}

/*general settings*/
body *{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

body{
    background: var(--primary-dark--color);
}

/*head*/
#head{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    height: 76px 
}


#head img{
    width: 166.5px;
    height: 40.602px;
}

/*container*/
#container{
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

/*Intro*/
#intro{
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-bottom: 1px solid var(--primary-color);
}

#intro-text{
    flex: 1;
    font-size: 18.487px;
    justify-content: center;
}

#intro p{
    font-size: 101.343px;
    font-weight: 400px;
}

#intro p strong{
    font-weight: 700px;
}

#intro-img{
    flex: 1;
    position: relative;
}

#intro-img img{
    position: absolute;
    right: 0;
    height: 157px;
    width: 157px;
}

/*films*/

#catalog{
    padding-top: 2%;
    text-align: center;
}

#catalog h1{
    font-size: 52.727px;
    font-weight: 700px;
}

.films-row{
    display: flex;
    width: max-content;
    margin: auto;
    gap: 60px;
    padding: 30px;
}

.film{
    width: 203px;
    height: 290px;
    background: var(--primary-color) var(--add-img) no-repeat center;
    background-size: 38px 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    overflow: hidden;
}

.film:hover{
    background: var(--primary-color) var(--add-img-hover) no-repeat center;
    background-size: 38px 38px;
    border: 1px solid #F4C708;
}

/*add films*/
.desc{
    display: none;
    border-top: 20px solid #F4C708;
    height: 185px;
}

.add-img{
    flex: 40%;
    background: var(--primary-light-color) url(assets/add-capa.png) no-repeat left center;
    background-size: 18%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture_text{
    color: var(--primary-color);
    font-size: 22.753px;
    font-style: italic;
    font-weight: 700;
}

.picture__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*input{
    display: none;
}*/

.add-desc{
    flex: 60%;
    background: var(--primary-color);
}

.desc-up{
    display: flex;
    flex: 50%;
    text-align: left;
    padding: 10px 0 5px 20px;
    gap: 10px;
}

.desc-down{
    display: flex;
    flex: 50%;
    text-align: left;
    padding-left: 20px;
    position: relative;
}

.desc-text::placeholder, .desc-title::placeholder, .desc-year::placeholder{
    color: var(--primary-light-color);
    font-style: italic;
}

.desc-text, .desc-title, .desc-year{
    color: white;
    border: none;
    background-color: transparent;
    font-weight: 700;
}

.desc-title{
    font-size: 45px;
}

.desc-year{
    display: flex;
    font-size: 15px;
    align-items: center;
}

.desc-text{
    font-size: 18px;
}

.save-button:hover{
    background-color: var(--primary-dark--color);
    color: #F4C708;
}

.save-button{
    width: 160px;
    height: 25px;
    border-radius: 4px;
    border-color: transparent;
    background-color: #F4C708;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 30px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #0B2D52;
    margin-top: 100px;
    position: relative;
}

footer img{
    width: 360px;
    height: 90px;
}

footer p{
    color: #1F4B7A;
    position: absolute;
    bottom: 10px;
    font-size: 15px;
}

@media (max-width: 700px){

    #intro-text{
        font-size: 12px;
    }

    #intro-text p{
        font-size: 60px;
    }

    #intro-img img{
        height: 90px;
        width: 90px;
    }

    #films h1{
        font-size: 30px;
    }

    #films ul li{
        width: 150px;
        height: 240px;
    }
}